// IE11 doesn't support input=color. This fixes the input so its not too narrow to allow a hex input
.form-control-color {
  max-width: 5rem;
}

// makes the default checkbox icon nicer
.form-check-input {
  border-color: #ccc;
  box-shadow: 0 0 0 0.07rem rgba(111, 111, 111, 0.3);
}

// Hides the default caret
input::-ms-check {
  color: transparent;
  background-color: transparent;
  border: 0;
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -4 8 8'%3e%3ccircle r='3' fill='%23ccc'/%3e%3c/svg%3e");
}

.form-switch :checked.form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

// Unstyle the caret on `<select>`s
select::-ms-expand {
  display: none;
}
