/* IE11 doesn't support input=color. This fixes the input so its not too narrow to allow a hex input */
.form-control-color {
  max-width: 5rem;
}

/* makes the default checkbox icon nicer */
.form-check-input {
  opacity: .6;
}

/* hides the default select icon */
select::-ms-expand {
  display: none;
}
