{
  "extends": "stylelint-config-twbs-bootstrap/scss",
  "rules":
    {
      "declaration-no-important": null,
      "number-leading-zero": null,
      "property-no-vendor-prefix": null,
      "selector-max-type": null,
      "selector-max-universal": null,
      "selector-no-vendor-prefix": null,
    },
}
