{
  "extends": "stylelint-config-twbs-bootstrap/scss",
  "rules":
    {
      "declaration-no-important": null,
      "property-blacklist": ["grid"],
      "property-no-vendor-prefix": null,
      "selector-class-pattern": "^[a-z][a-z0-9\\-]*[a-z0-9]$"
    },
}
